<% include ./partials/header %>

<div class="row mt-5">
  <div class="col-1"></div>
  <div class="col-10">
    <table class="table table-hover">
      <thead>
          <tr>
              <th>#</th>
              <th>Student Number</th>
              <th>Name</th>
              <th>Social Points</th>
          </tr>
      </thead>
      <tbody>

        <% var a = 1%>
        <% students.forEach(student => { %>
          <tr>
              <td><%= a++ %></td>
              <td><%= student.std_num %></td>
              <td><%= student.name %></td>
              <td><%= student.scl_pts %></td>
          </tr>
        <% }) %>

      </tbody>
    </table>
  </div>
  <div class="col-1"></div>
</div>
  


<% include ./partials/footer %>